
<div class="container">
  <div class="row">
    <div class="col-m-4">
      <% @courses.ten_most_recent.each do |course| %>
       <li><%= link_to course.title, course_path(course) %></li>
      <% end %>
    </ul>
    <%= link_to "New Course", new_course_path %>
  <ul>

    </div>

  </div>

</div>
