  <% @courses.ten_most_recent.each do |course| %>
    <div class="col-md-4">
      <div class="course">
        <li class="course-title"><%= link_to course.title, course_path(course) %></li>

    </ul>
    <%= link_to "New Course", new_course_path, class: "btn-custom" %>
  <ul>

    </div>

  </div>
<% end %>
