
<div class="top-nav">
<a class = 'logo' href ="courses#index"> <%=image_tag('logo.png', class:'img') %>
</a>
<div class="title">
  <h1>Knead to Dough</h1>
</div>
<div id="nav-search-wrapper">
  <form action="index.html" method="GET">
    <input type="text" name="search" id="nav-search" placeholder="search">
  </form>
</div>

</div>
