
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class = 'logo' href ="courses#index"> <%=image_tag('logo.png', class:'img') %>
          </a>

        </div>

        </div>
</nav>
